<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список героев</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h2>Список героев</h2>
  <div class="characters">
    <div class="character-card" th:each="character : ${characters}">
      <img th:src="${character.image}" class="character-image"/>
      <p th:text="${character.name}"></p>
      <form th:action="@{/api/character}" method="get">
        <input type="hidden" name="characterId" th:value="${character.id}"/>
        <button type="submit">Выбрать</button>
      </form>
    </div>
  </div>
  <div class="footer">
    <form th:if="${page > 0}" th:action="@{/api/characters}" method="get">
      <input type="hidden" name="page" th:value="${page - 1}" />
      <button type="submit" class="btn">&laquo; Назад</button>
    </form>
    <form th:if="${hasNext}" th:action="@{/api/characters}" method="get">
      <input type="hidden" name="page" th:value="${page + 1}" />
      <button type="submit" class="btn">Вперед &raquo;</button>
    </form>
  </div>
</div>
</body>
</html>
