<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Карточка героя</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="character-card single">
    <img th:src="${character.image}" class="character-image"/>
    <h2 th:text="${character.name}"></h2>
    <p><span style="font-weight:bold;">Status:</span> <span th:text="${character.status}"></span></p>
    <p><span style="font-weight:bold;">Species:</span> <span th:text="${character.species}"></span></p>
    <p><span style="font-weight:bold;">Gender:</span> <span th:text="${character.gender}"></span></p>
    <p><span style="font-weight:bold;">Origin:</span> <span th:text="${character.origin.name}"></span></p>
    <p><span style="font-weight:bold;">Location:</span> <span th:text="${character.location.name}"></span></p>
    <div class="episode-list">
      <p><span style="font-weight:bold;">Episodes:</span></p>
      <ul>
        <li th:each="episode : ${character.episode}">
          <a th:href="@{__${episode}__}" th:text="${episode}"></a>
        </li>
      </ul>
    </div>
    <form th:action="@{/api/characters}" method="get">
      <button type="submit">Назад</button>
    </form>
  </div>
</div>
</body>
</html>
