.container {
    width: 80%;
    margin: 0 auto;
}

.character-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.character-image {
    width: 150px;
    height: auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.character-card-details {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.character-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.episode-list {
    margin-top: 20px;
    text-align: left;
}
