body {
    background-color: #d3e0ea;
    margin: 20px 50px;
    position: relative;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;

}

h2 {
    background-color: #a9c5d6;
    color: #1f3b4d;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
}

.characters {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

.character-card {
    display: table;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
}

.character-card:hover button {
    background-color: #1e90ff;
}

.character-image {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    text-align: center;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: #45a049;
    color: white;
}
.single {
    position: absolute;
    top: 50%;
    text-align: left;
}
